body{
      -webkit-print-color-adjust:exact;
}

.dice-report {
    float:left;
    margin: 0.1rem;
    padding: 0.1rem;
}

.stat-report {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.dice {
    border: 1px solid black;
    border-radius: 0.1rem;
    width: 0.6rem;
    height: 0.6rem;
    float: left;
    margin: 0.2rem;
}

.yellow {
    box-shadow: inset 0 0 0 1000px yellow;
}

.red {
    box-shadow: inset 0 0 0 1000px red;
}

.blue {
    box-shadow: inset 0 0 0 1000px blue;
}

.green {
    box-shadow: inset 0 0 0 1000px green;
}

.black {
    box-shadow: inset 0 0 0 1000px black;
}

.white {
    box-shadow: inset 0 0 0 1000px white;
}

#entropyapp {
    font-size: 8.8pt;
}

table {
    margin: 0.1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0.1rem;
    width: 3.5rem;
}