.dice-report {
    float:left;
    margin: 4px;
    padding: 4px;
}

.stat-report {
    padding-top: 4px;
    padding-bottom: 4px;
}

.dice {
    border: 1px solid black;
    border-radius: 5px;
    width: 12px;
    height: 12px;
    float: left;
    margin: 2px;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

#entropyapp {
    font-size: 12px;
}

table {
    margin: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 4px;
    width: 55px;
}